<footer class="site-footer">
	<div class="site-footer__group">
		<h3>Categories</h3>
		<ul>
			<li><a href="/algorithms/">Algorithms</a></li>
            <li><a href="/philosophy/">Philosophy</a></li>
			<li><a href="/web/">Web Technologies</a></li>
		</ul>
	</div>
	<div class="site-footer__group">
		<h3>Contact me</h3>
		<ul>
			<li><a href="https://twitter.com/brunsnik" target="_blank" rel="noopener noreferrer">Reach out to me on Twitter</a></li>
			<li><a href="mailto:nerd@travelsincode.com">Send me an email</a></li>
		</ul>
	</div>
	<p class="site-footer_copyright">Copyright &copy; 2021 Peter Berry</p>
</footer>
