$body-font-family: "Noticia Text", Garamond, Georgia, serif;
$heading-font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
$code-font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;