@mixin clearfix() {
	&::after {
		display: block;
		clear: both;
		content: "";
	}
}

@mixin section-width-mobile {
    max-width: 100%;
    min-width: calc(320px - 2rem);
}

@mixin section-width-md {
    width: percentage(10/12);
    min-width: 520px;
    max-width: 100%;
}

@mixin section-width-lg {
    max-width: 1200px;
    width: percentage(8/12);
    min-width: 576px;
}

@mixin media-xs {
  @media screen and (max-width: 600px) {
    @content;
  }
}

@mixin media-sm {
  @media screen and (min-width: 601px) {
    @content;
  }
}

@mixin media-md {
  @media screen and (min-width: 1025px) {
    @content;
  }
}

@mixin media-lg {
  @media screen and (min-width: 1200px) {
    @content;
  }
}
