$main-color-sample: #362f2d;

// Triadic
$color-1: #90ff19; // rgb(144, 255, 25)
$color-2: #FF3900; // rgb(255, 57, 0)
$color-3: #143CCC; // rgb(20, 60, 204)
$color-4: #092DB2; // rgb(9, 45, 178)

// Some colors:
$green-bright: $color-1;
$red-bright: $color-2;
$blue-bright: $color-3;
$blue-darker: $color-4;

// Breakpoints
$large-breakpoint: 960px;
$medium-breakpoint: 512px;

// Body
$body-bg-color: #f7f5f5;

// Main Content
$main-content-bg-color: #eeebea;
$body-text-color: #362f2d;
$section-headings-color: $body-text-color;
$body-link-color: $blue-bright;
$body-link-visited-color: $blue-darker;
$blockquote-text-color: #819198;

// Site Nav
$site-nav-bg-color: $body-bg-color;
$site-nav-text-color: $body-text-color;
$site-nav-visited-color: $site-nav-text-color;

// Headers
$header-heading-color: #fff;
$header-bg-color:$body-bg-color;

// Code
$code-bg-color: #f3f6fa;
$code-text-color: #567482;

// Borders
$border-color: #dce6f0;
$table-border-color: #e9ebec;
$hr-border-color: #eff0f1;
