$color-red: 		#8C1620;
$color-darkgrey:	#262522;
$color-brown:		#8C775D;
$color-light-brown:	#BFA98E;
$color-beige:		#F2E7DC;

// Mars
$color-matte-gold:	#D99152;
$color-dark-orange:	#BF622C;
$color-ochre: 		#A6351C;
$color-blood-red:	#590902;
$color-heavy-grey:  #0D0D0D;

