@import "rmit.scss";
@import "compass/css3";

ul, ol, p {
	margin-bottom: 1em;
}

//-------------------------------
// UI Elements
//-------------------------------

.definition,
.principle,
.guideline,
.strategy {
	margin: 0 1em 1.5em;
	border: 1px solid $medium-gray;
	padding: 15px;

	/* prefer box shadow? */
	@include box-sizing(border-box);

	> h4 {
		margin: 0 0 0.5em;
		text-transform: uppercase;
		font-size: 1rem;
		color: $light-gray;
	}

	p:last-child {
		margin-bottom: 0;
	}
}

.book-header {
	border-top: 1px dashed $light-medium-gray;

	&.page-header {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	h1 {
		margin: 0;
		font-size: 1em;
		color: $light-gray;
	}
}

.book-details {
	margin: 10px;
	padding: 10px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid $light-gray;

	> p {
		color: $extra-light-gray;
		font-size: 0.9em;
		line-height: 100%;
		margin: 0 0 0.5em;
	}
}

.grid {
	border-collapse: separate;
	border-spacing: 1px;
	width: 100%;
	table-layout: fixed;
	margin: 1em 0 1.5em;

	thead {
		background-color: $reddish-gray;

		th {
			text-align: left;
			vertical-align: bottom;
			color: $light-gray;

			&.col-1 {
				width: 25%;
			}
		}
	}

	tbody {
		background-color: $dark-medium-gray;

		tr:nth-child(odd) {
			background-color: lighten($dark-medium-gray, 8%);
		}

		td {
			text-align: top;
			vertical-align: top;
      
			ul {
				list-style-type: disc;
				margin-left: 1.5em;
			}
		}
	}

	th, td {
		padding: 7px 10px;
		line-spacing: 1em;
	}
}

.software-pattern {
	border-collapse: separate;
	border-spacing: 1px;
	width: 100%;
	table-layout: fixed;
	margin: 1em 0 1.5em;

	tr:nth-child(odd) {
		background-color: lighten($dark-medium-gray, 8%);
	}

	th {
		width: 20%;
	}

	th, td {
		padding: 7px 10px;
		line-spacing: 1em;
		text-align: left;
		vertical-align: top;
	}
}

// Strangely the reset css overrides the browser defaults
td {
	em {
		font-style: italic;
	}
	strong {
		font-weight: bold;
	}
}

.nav-chapters {
	width: 100%;
	@include box-sizing(border-box);
	padding: 10px 20px 30px;
	position: relative;
	margin-top: 30px;
	background-color: lighten($light-medium-gray, 5%);

	&:after {
		content: "";
		display: table;
		clear:both;
	}

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;

		> li {
			position: absolute;
			display: inline-block;
			width: auto;
			min-height: 20px;
			line-height: 20px;
			bottom: 10px;
		}
	}

	.prev-chapter {
		left: 20px;
	}

	.index {
		left: 50%;
		margin-left: -30px;
	}

	.next-chapter {
		right: 20px;
	}
}