@import "rmit.scss";
@import "compass/css3";

ul, ol, p {
	margin-bottom: 1em;
}

//-------------------------------
// UI Elements
//-------------------------------

.definition,
.principle,
.guideline,
.strategy {
	margin: 0 1em 1.5em;
	border: 1px solid $medium-gray;
	padding: 15px;

	/* prefer box shadow? */
	@include box-sizing(border-box);

	> h4 {
		margin: 0 0 0.5em;
		text-transform: uppercase;
		font-size: 1rem;
		color: $light-gray;
	}

	p:last-child {
		margin-bottom: 0;
	}
}

.book-details {
	margin: 10px;
	padding: 10px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: $dark-medium-gray;

	> h1 {
		margin: 0 0 0.25em;
		font-size: 1.5em;
		color: $medium-gray;
	}

	> p {
		color: $medium-gray;
	}
}

.grid {
	border-collapse: separate;
	border-spacing: 1px;
	width: 100%;
	table-layout: fixed;
	margin: 1em 0 1.5em;

	thead {
		background-color: $reddish-gray;

		th {
			text-align: left;
			vertical-align: bottom;
			color: $light-gray;

			&.col-1 {
				width: 25%;
			}
		}
	}

	tbody {
		background-color: $dark-medium-gray;

		tr:nth-child(odd) {
			background-color: lighten($dark-medium-gray, 8%);
		}

		td {
			text-align: top;
			vertical-align: top;
		}
	}

	th, td {
		padding: 7px 10px;
		line-spacing: 1em;
	}
}

.nav-chapters {
	width: 100%;
	@include box-sizing(border-box);
	padding: 40px 20px 20px;

	&:after {
		content: "";
		display: table;
		clear:both;
	}

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	.prev-chapter {
		float: left;
	}

	.next-chapter {
		float: right;
	}
}