body {
	font-family: Verdana, 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 1em;
	line-height: 133%;
}

.swatch {
	border: 3px solid black;
	padding-top: 20px;
	padding-bottom:20px;
	text-align: center;
}

/* gray scale */
.medium-gray {
	/* base gray */
	background: #CCC;
	color: white;
}

.medium-gray:before {
	content: '#CCC';
}

.extra-light-gray {
	background: #F8F8F8;
	color: #333;
}

.extra-light-gray:before {
	content: '#F8F8F8';
}

.light-gray {
	background: #E5E5E5;
	color: #333;
}
.light-gray:before {
	content: '#E5E5E5';
}

.light-medium-gray {
	background: #A6A6A6;
	color: #333;
}
.light-medium-gray:before {
	content: '#A6A6A6';
}

.dark-medium-gray {
	background: #7F7F7F;
	color: #fff;
}
.dark-medium-gray:before {
	content: '#7F7F7F';
}

/* from colourlovers.com: (http://www.colourlovers.com/palette/304548/code) */

.cream-highlight {
	background: #F2FA89;
	color: #333;
}
.cream-highlight:before {
	content: '#F2FA89';
}

.reddish-gray {
	background: #4D4948;
	color: #FFF;
}
.reddish-gray:before {
	content: '#4D4948';
}

.darker-gray {
	background: #5C5C5C;
	color: #FFF;
}
.darker-gray:before {
	content: '#5C5C5C';
}

.red-highlight {
	background: #B50039;
	color: #FC6;
}
.red-highlight:before {
	content: '#B50039'
}

.rmit-highlight {
	background: #DC291E;
	color: #FC6;
}
.rmit-highlight:before {
	content: '#DC291E';
}

.page-content {
	width: 992px;
	padding: 20px;
	margin: 40px auto;
}

.row {
	width: 100%;
}
.row:after {
	content: "";
    display: table;
	clear:both;
}

.section-colour-palette .row {
	margin-bottom: 20px;
}

.clearfix:after {
	content: "";
    display: table;
	clear:both;
}

.col-md-3 {
	float:left;
	width: 25%;
	padding-left: 20px;
	padding-right: 20px;
	-moz-box-sizing: border-box;
	box-sizing:border-box;
}