---
---
@import "../_sass/main";

.post {
	&:not(:last-child) {
		margin-bottom: 3rem;
	}

	a {
	    color: $body-link-color;
	    text-decoration: underline;
	    font-weight: bold;

	    &:hover {
	        text-decoration: none;
	    }

	    &:visited {
	        color: $body-link-visited-color;
	    }
	}
}