---
--- 
@import "../_sass/normalize";
@import "../_sass/rouge-github";
@import "../_sass/variables";
@mixin large {
    @media screen and (min-width: #{$large-breakpoint}) {
        @content;
    }
}
@mixin medium {
    @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
        @content;
    }
}
@mixin small {
    @media screen and (max-width: #{$medium-breakpoint}) {
        @content;
    }
}
*, *::after, *::before {
    box-sizing: border-box;
}
html {
    width: 100%;
    height: 100%;
    font-size: 16px;
}
body {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: $body-bg-color;
    font-size: 1rem;
    line-height: 1.5;
    color: $body-text-color;
    height: 100%;
    width: 100%;
}
a {
    color: $body-link-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &:visited {
        color: $body-link-visited-color;
    }
}

.btn {
    display: inline-block;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.08);
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    &:hover {
        color: rgba(255, 255, 255, 0.8);
        text-decoration: none;
        background-color: rgba(255, 255, 255, 0.2);
        border-color: rgba(255, 255, 255, 0.3);
    }
    +.btn {
        margin-left: 1rem;
    }
    @include large {
        padding: 0.75rem 1rem;
    }
    @include medium {
        padding: 0.6rem 0.9rem;
        font-size: 0.9rem;
    }
    @include small {
        display: block;
        width: 100%;
        padding: 0.75rem;
        font-size: 0.9rem;
        +.btn {
            margin-top: 1rem;
            margin-left: 0;
        }
    }
}
.site-header {
    position: relative;

    @include large {
        max-width: 1024px;
        height: 120px;
        overflow: hidden;
        margin: 0 auto;
        background: $header-bg-color url("/assets/vs_code_main.png") no-repeat scroll 130px 0;
        padding: 0 2rem;
    }
    @include medium {
        padding: 0 1rem;
        background-color: $header-bg-color;
    }
    @include small {
        padding: 0 1rem;
        background-color: $header-bg-color;
    }
}
.site-home {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 0;
    left: 0;

    > img {
        width: 80%;
        height: 80%;
        margin-top: 10%;
        margin-left: 10%;
    }
}
.site-nav {
    float: right;
    background-color: $site-nav-bg-color;

    @include large {
        margin-top: 30px;
    }

    a {
        color: $site-nav-text-color;
        background-color: $site-nav-bg-color;
        display: inline-block;
        border-radius: 0.3rem;
        padding: 0.75rem 1rem;
        transition: all ease-in 0.2s;
        border: 1px solid rgba(229, 225, 223, 0.7); // #E5E1DF

        &:hover {
            text-decoration: none;
            background-color: #81706b;
            color: $site-nav-bg-color !important;
            border-color: rgba(118, 103, 98, 0.7); // #766762
        }

        &:visited {
            color: $site-nav-text-color;
        }
    }
}

.main-content {
    background-color: $main-content-bg-color;
    word-wrap: break-word;
    :first-child {
        margin-top: 0;
    }
    @include large {
        max-width: 1024px;
        padding: 2rem 6rem;
        margin: 0 auto;
        min-height: calc(100vh - 120px - 1rem);
    }
    @include medium {
        padding: 2rem 4rem;
        font-size: 1.1rem;
    }
    @include small {
        padding: 2rem 1rem;
        font-size: 1rem;
    }
}
img {
    max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: $section-headings-color;
}
p {
    margin-bottom: 1em;
}
code {
    padding: 2px 4px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.9rem;
    color: $code-text-color;
    background-color: $code-bg-color;
    border-radius: 0.3rem;
}
pre {
    padding: 0.8rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: $code-text-color;
    word-wrap: normal;
    background-color: $code-bg-color;
    border: solid 1px $border-color;
    border-radius: 0.3rem;
    >code {
        padding: 0;
        margin: 0;
        font-size: 0.9rem;
        color: $code-text-color;
        word-break: normal;
        white-space: pre;
        background: transparent;
        border: 0;
    }
}
.highlight {
    margin-bottom: 1rem;
    pre {
        margin-bottom: 0;
        word-break: normal;
    }
}
.highlight pre, pre {
    padding: 0.8rem;
    overflow: auto;
    font-size: 0.9rem;
    line-height: 1.45;
    border-radius: 0.3rem;
    -webkit-overflow-scrolling: touch;
}
pre code, pre tt {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
    &:before, &:after {
        content: normal;
    }
}
ul, ol {
    margin-top: 0;
}
blockquote {
    padding: 0 1rem;
    margin-left: 0;
    color: $blockquote-text-color;
    border-left: 0.3rem solid $border-color;
    > :first-child {
        margin-top: 0;
    }
    > :last-child {
        margin-bottom: 0;
    }
}
table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all; // For Firefox to horizontally scroll wider tables.
    -webkit-overflow-scrolling: touch;
    th {
        font-weight: bold;
    }
    th, td {
        padding: 0.5rem 1rem;
        border: 1px solid $table-border-color;
    }
}
dl {
    padding: 0;
    dt {
        padding: 0;
        margin-top: 1rem;
        font-size: 1rem;
        font-weight: bold;
    }
    dd {
        padding: 0;
        margin-bottom: 1rem;
    }
}
hr {
    height: 2px;
    padding: 0;
    margin: 1rem 0;
    background-color: $hr-border-color;
    border: 0;
}
.site-footer {
    padding-top: 2rem;
    margin-top: 2rem;
    border-top: solid 1px $hr-border-color;
    @include large {
        font-size: 1rem;
    }
    @include medium {
        font-size: 1rem;
    }
    @include small {
        font-size: 0.9rem;
    }
}
.site-footer-owner {
    display: block;
    font-weight: bold;
}
.site-footer-credits {
    color: $blockquote-text-color;
}