$color-red: 		#8C1620;
$color-darkgrey:	#262522;
$color-brown:		#8C775D;
$color-light-brown:	#BFA98E;
$color-beige:		#F2E7DC;

// Mars
$color-matte-gold:	#D99152;
$color-dark-orange:	#BF622C;
$color-ochre: 		#A6351C;
$color-blood-red:	#590902;
$color-heavy-grey:  #0D0D0D;

// Styleguide
$extra-light-gray: 	#F8F8F8;
$light-gray: 		#E5E5E5;
$medium-gray: 		#CCC;
$light-medium-gray: #A6A6A6;
$dark-medium-gray:  #7F7F7F;
$darker-gray: 		#5C5C5C;
$reddish-gray: 		#4D4948;

$cream-highlight:   #F2FA89;
$red-highlight: 	#B50039;
$rmit-highlight:    #DC291E;

// Compass flags
$experimental-support-for-mozilla : true !default;
$experimental-support-for-webkit : true !default;
$support-for-original-webkit-gradients : false !default;
$experimental-support-for-opera : false !default;
$experimental-support-for-microsoft : false !default;
$experimental-support-for-khtml : false !default;
