h1 {
    font-size: calc(1.75rem + 0.5vw);
    font-family: "Hanken Grotesk", "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
    line-height: 1;
    margin: 0 0 1em;
    padding: 0;
}

h2 {
    font-size: calc(1.33rem + 0.25vw);
    font-family: Garamond, Georgia, "Times New Roman", serif;
    font-weight: 700;
    line-height: 1;
    margin: 1em 0 0.5em;
    padding: 0;
}

p {
    font-size: calc(1rem + 0.33vw);
    margin-block: 0.75em;
}

.site-footer {
    display: grid;
    background-color: var(--color-main-bg);
    border-top: 1px solid var(--color-beige);
    width: 100%;
    max-width: var(--max-content-width);
    padding: 2rem 1rem;
    margin-block: 0;
    margin-inline: auto;
    grid-gap: 1.5rem;

    a {
        display: inline-block;
        text-align: center;
    }
}

@media screen and (min-width: 1281px) {
    .site-footer {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1280px) {
    .site-footer {
        grid-template-columns: 1fr 1fr 1fr;
        --max-content-width: calc(100vw - 4rem);
    }
}

@media screen and (max-width: 768px) {
    .site-footer {
        grid-template-columns: 1fr 1fr;
        --max-content-width: calc(100vw - 1rem);
    }
}

.small {
    font-size: 0.8rem;
}

.back-to-top {
    margin-top: 2rem;
    text-align: center;

    a {
        text-decoration: none;
        display: inline-block;
        background-color: var(--color-white-smoke);
        padding: 0.25rem 0.5rem;
        color: var(--color-steel);
    }
}

p.copyright {
    text-align: center;
    font-size: 0.8rem;
    font-style: italic;
}

main,
.site-footer {
    a {
        color: var(--color-link-text);
        text-underline-offset: 0.25rem;

        &:hover {
            color: var(--color-link-hover-text);
            text-decoration: none;
        }

        &:visited {
            color: var(--color-link-text);
            text-decoration-color: var(--color-link-hover-text);
        }
    }
}
