@import "main.scss";
@import "../zurb/foundation/components/_global";

.guideline {
	width: 100%;
	@include clearfix;

	h2 {
		border-width: 1px;
		border-style: solid;
		@include border-radius(2px);
		padding: 0.5em 14px 0.5em 44px;
		min-height: 24px;
		position: relative;
		font-weight: normal;
		font-size: 1.25rem;

		&::before {
	        background: transparent url(/img/fed-guide-sprite.svg) no-repeat;
	        position: absolute;
	        top: 8px;
	        left: 12px;
	        width: 24px;
			height: 24px;
			overflow: hidden;
	        z-index: 1;
	        background-size: 240px 48px;
	        content: '\20';
	    }
    }

	&.observe {
		h2 {
			color: $color-success;
		}
	}

	&.consider {
		h2 {
			color: $color-warning;
			&::before {
				background-position: -24px 0;
			}
		}
	}

	&.avoid {
		h2 {
			color: $color-alert;
			&::before {
				background-position: -48px 0;
			}
		}
	}

	~ .guideline {
		margin-top: 2em;
	}
}

