<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <title>{{ page.title }}</title>
  <script src="/script/modernizr.js"></script>
  <link href="/css/book.css" type="text/css" rel="stylesheet"/>
  <link href="/css/pygments-solarized-dark.css" type="text/css" rel="stylesheet"/>
</head>
<body>
	<div class="page-header-wrapper">
		<header class="page-header clearfix">
			<a class="rmit-logo" href="/rmit/">
				<img src="/img/rmit-logo.svg" alt="RMIT" />
			</a>
			<a class="logo" href="/">
				<img src="/img/mars-rover.svg" alt="travelsincode.com" />
			</a>
		</header>
		<header class="page-header book-header">
			<h1>{{ page.book_title }}</h1>
		</header>
	</div>
	<main class="page-content clearfix">
		<article class="book-notes">
			{{ content }}
		</article>
	</main>
<div class="page-footer-wrapper">
<footer class="page-footer clearfix">
	<section class="book-details">
		<p class="title">{{ page.book_title }}</p>
		<p><strong>Author(s):</strong> {{ page.book_authors}}</p>
		<p><strong>Publisher:</strong> {{ page.book_publisher}}</p>
	</section>
</footer>
</div>
</body>
</html>