<!DOCTYPE html>
<html lang="en-AU">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width,initial-scale=1" name="viewport"/>
    <title>
        {{ page.title }} | Travels In Code
    </title>
    <link href="/assets/main.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<header class="site-header">
    <div class="site-home">
        <img src="/assets/travels-in-code.svg" alt="Travels in Code" />
    </div>
    <nav class="site-nav">
        <a href="/about/">About</a>
    </nav>
</header>
<main class="main-content">
    {{content}}
</main>
</body>
{% include google.html %}
</html>
