<!DOCTYPE html>
<html lang="en-AU">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ page.title }}">
    <meta name="theme-color" content="{{ site.themeColor }}">
    <link rel="canonical" href="https://travelsincode.com{{ page.url }}">
    <link rel="og:url" href="https://travelsincode.com{{ page.url }}">
    <title>
        {{ page.title }} | {{ site.title }}
    </title>
    {% include fonts.html %}
    <link href="/assets/main.css" rel="stylesheet" type="text/css"/>
</head>
<body>
{% include header.html %}
<main class="main-content">
    {{content}}
</main>
{% include footer-no-contact.html %}
{% include google.html %}
</body>
</html>
