<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <title>front-end development guide | travels in code</title>
  <script src="/scripts/modernizr.js"></script>
  <link href="/css/front-end-dev-guide.css" type="text/css" rel="stylesheet"/>
</head>
<body>
	<div class="site-header-wrapper">
    <header class="site-header">
      <nav class="site-nav">
        <a href="/about/">About</a>
        <a href="/front-end-dev-guide/">Front-End Developer Guide</a>
      </nav>
    </header>
	</div>
  <div class="page-content-wrapper">
	<main class="page-content">
    <article class="front-end-dev-guide">
{{ content }}
    </article>
</main>
</div>
{% include site-footer.html %}
<script>
  (function(_gaq) {
    var ga, s;

    _gaq.push(['_setAccount', 'UA-47888687-1']);
    _gaq.push(['_trackPageview']);

    ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })(_gaq || []);
</script>
</body>
</html>