<!DOCTYPE html>
<html lang="en-AU">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="description" content="{{ page.excerpt }}">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.excerpt }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="{{ site.author }}">
    <meta name="theme-color" content="{{ site.themeColor }}">
    <link rel="preload" as="image" href="/assets/coffee-ring-background.jpg">
    <link rel="canonical" href="https://travelsincode.com{{ page.url }}">
    <link rel="og:url" href="https://travelsincode.com{{ page.url }}">
    <title>{{ page.title }} | {{ site.title }}</title>
    {% include fonts.html %}
    <link href="/assets/main.css" type="text/css" rel="stylesheet">
<body>
{% include header.html %}
<main class="main-content">
    {{content}}
    <p class="main-content-category">This page posted under the category: {{page.category}}</p>
</main>
{% include footer.html %}
{% include google.html %}
</body>
</html>
