<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <title>{{ page.title }}</title>
  <script src="/scripts/modernizr.js"></script>
  <link href="/css/rmit.css" type="text/css" rel="stylesheet"/>
</head>
<body>
	<div class="site-header-wrapper">
		<header class="site-header">
			<a class="rmit-logo" href="/rmit/">
				<img src="/img/rmit-logo.svg" alt="RMIT"/>
			</a>
			<a class="logo" href="/">
				<img src="/img/mars-rover.svg" alt="travelsincode.com" />
			</a>
		</header>
	</div>
	<main class="page-content">
	{{ content }}
	</main>
<div class="site-footer-wrapper">
<footer class="site-footer">
	
</footer>
</div>
</body>
</html>